body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f9fa;
}

.sidebar {
    width: 260px;
    background-color: #1a1a1a;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
}

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    font-weight: 600;
}


.sidebar button, 
.sidebar a {
    display: block;             
    width: 100%;                
    box-sizing: border-box;     
    
    background: transparent;
    color: #ddd;
    border: 1px solid transparent;
    padding: 14px 16px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;      
}

/* Hover Effect for Both */
.sidebar button:hover, 
.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


.sidebar button.active,
.sidebar a:active {
    background-color: #33E99D;
    color: black;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(51, 233, 157, 0.2);
}


.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 80px;
    background: white;
    border-bottom: 3px solid #33E99D;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.header img {
    height: 45px;
}

.frame-container {
    flex-grow: 1;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#welcome-text {
    color: #999;
    position: absolute;
    font-weight: 300;
}